<!DOCTYPE html>
<html lang="en">
<head>
  <title>Smart Parking</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/he/1.2.0/he.js" integrity="sha512-o4gKX6jcK0rdciOZ9X8COYkV9gviTJAbYEVW8aC3OgIRuaKDmcT9/OFXBVzHSSOxiTjsTktqrUvCUrHkQHSn9Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="{{url_for('static', filename='main.css')}}" rel="stylesheet">
  <style>
    #form1, #form2{
      display: none;
    }
    #form1.active, #form2.active{
        display: block;
}
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ><img src="{{url_for('static', filename='img.jpg')}}" width="40px"></a>
      <a class="navbar-brand" >ORDER TRACKING SYSTEM</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li ><a data-value="#form1" onclick="toggleform(event)"><span class="glyphicon glyphicon-home"></span>Home</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container">
  {% block content %}
  {% if msg %}
  <div class="alert alert-danger alert-dismissible fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> 
    <strong>{{msg}}</strong>
  </div>
  {% endif %}
  {% endblock content %}
  <section id="portfolio" class="portfolio-details">
    <div class="container">
        <div class="col-lg-6">
                <img src="{{url_for('static', filename='box.jpg')}}" style="width: 100%;">
        </div>

        <div class="col-lg-6">
          <div class="portfolio-info">

    <form  method="post" action="{{ url_for('userlog')}}" id="form1" class="active">
      <h2>Login</h2>
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" placeholder="Enter username" name="name" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
      </div>
      <button type="submit" class="btn btn-success">Submit</button></br></br>
      <p>Click here to <a data-value="#form2" onclick="toggleform(event)">Sign up</a></p>
    </form>

    
    <form method="post" action="{{ url_for('userreg')}}" id="form2">
      <h2>Regestration</h2>
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" placeholder="Enter username" name="name" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
      </div>
      <div class="form-group">
        <label for="phone">Mobile No.:</label>
        <input type="tel" class="form-control" id="phone" placeholder="Enter mobile number" name="phone" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
      </div>
      <button type="submit" class="btn btn-success">Submit</button></br></br>
      <p>Click here to <a data-value="#form1" onclick="toggleform(event)">Sign in</a></p>
    </form>

  </div>
</div>
</div>
</section>
</div>

<script>
    function toggleform(e) {
    var Id =(e.target.getAttribute('data-value'))
    let Items= ['#form1', '#form2'];
    Items.map(function(item) {
        if(Id === item ) {
            $(item).addClass("active");
        }
        else {
        $(item).removeClass("active");
        }
    })
}

</script>
</body>
</html>